@font-face {
  font-family: "Innovator Grotesk";
  src: url("/fonts/innovator-grotesk/InnovatorGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Innovator Grotesk";
  src: url("/fonts/innovator-grotesk/InnovatorGrotesk-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Innovator Grotesk";
  src: url("/fonts/innovator-grotesk/InnovatorGrotesk-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Innovator Grotesk";
  src: url("/fonts/innovator-grotesk/InnovatorGrotesk-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Innovator Grotesk";
  src: url("/fonts/innovator-grotesk/InnovatorGrotesk-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Innovator Grotesk";
  src: url("/fonts/innovator-grotesk/InnovatorGrotesk-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Innovator Grotesk";
  src: url("/fonts/innovator-grotesk/InnovatorGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Innovator Grotesk";
  src: url("/fonts/innovator-grotesk/InnovatorGrotesk-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
